<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/styles.css" rel='stylesheet' rel='text/css'>
    
    
 <link rel='icon' href='./img/1277949398.png'>
   
    
</head>
<body>
    <div class='main-content'>
   <h1>{{>header}}</h1>
   <p>I'm Tvs Madhur Currently working As Associate Developer At Maximess</p>
    </div>
    
    {{!-- <h1>about</h1> --}}
    {{>footer}}
</body>
</html>