<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel='stylesheet' rel='text/css'>
     <link rel='icon' href='./img/1277949398.png'>
    <title>Document</title>
</head>
<body>
    <div class='main-content'>
      <h1>{{>header}}</h1>
       <p>This Appliaction Is Used to Find Weather of Particular Locations You can see search location Input field, Enter a Valid Location There and Click on Submit Button You will Get Wether of That Particular Location</p>
    </div>
    
   
    {{!-- <h1>{{title}}</h1> --}}
    {{>footer}}
    
</body>
</html>